.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;

  .width-25 {
    width: 25%;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
