<div class="book-container">
  <div class="flex-container-centered spaced-around-container">
    <button
      mat-raised-button
      color="primary"
      class="selection-button"
      [routerLink]="'list'"
    >
      Book List
    </button>
    <button
      mat-raised-button
      color="primary"
      class="selection-button"
      [routerLink]="'add'"
    >
      Add Book
    </button>
  </div>

  <div class="flex-container padding-container">
    <router-outlet></router-outlet>
  </div>
</div>
